<div class="wrapper" id="login">
    <div class="login__content">
        <div class="login__header">
            <h1>Login</h1>
            <p>Welcome back.</p>
        </div>

        <%= form_for :session, url: login_path, html: { class: "login__form"} do |f| %>
            <div class="form__group">
                <%= f.label :email %>
                <%= f.text_field :email %>
            </div>

            <div class="form__group">
                <div class="label__group">
                    <%= f.label :password %>
                    <a href="">Forgot Password?</a>
                </div>
                <%= f.password_field :password %>
            </div>

            <div class="form__group">
                <%= f.label :remember_me, class: "checkbox inline" do %>
                    <%= f.check_box :remember_me %>
                    <span>Remember me on this computer</span>
                <% end %>
            </div>

            <%= f.submit "Login", class: "btn btn--important btn--full-width" %>

            <p class="signup__prompt">Dont' have an account? <%= link_to "Join", signup_path %></p>
        <% end %>
    </div>
</div>