<%= form_with scope: :recipe, url: recipes_path, local: true do |form| %>
    <% if @recipe.errors.any? %>
        <div id="errors">
            <h2>
                <%= pluralize(@recipe.errors.count, "error") %> prohibited
                this recipe from being saved:
            </h2>
            <ul>
                <% @article.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <p>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
    </p>
    
    <p>
        <%= form.label :description %><br>
        <%= form.text_area :description %>
    </p>
    
    <p>
        <%= form.submit %>
    </p>
<% end %>