<div class="wrapper" id="signup">
    <div class="signup">
        <div class="signup__content__left">
            <div class="content">
                <h1>Join Recipy</h1>
                <p>
                    Access a collection of recipes, all <br>
                    curated by the Petty familiy and friends.
                </p>
            </div>
        </div>

        <div class="signup__content__right">
            <h1>Sign Up</h1>

            <%= form_for @user, html: { class: "signup__form" } do |f| %>
                <%= render 'shared/error_messages' %>
                <div class="form__group">
                    <%= f.label :first_name %>
                    <%= f.text_field :first_name %>
                </div>
                
                <div class="form__group">
                    <%= f.label :last_name %>
                    <%= f.text_field :last_name %>
                </div>
                
                <div class="form__group">
                    <%= f.label :email %>
                    <%= f.text_field :email %>
                </div>
                
                <div class="form__group">
                    <div class="label__group">
                        <%= f.label :password %>
                        <p>(min. of 6 characters)</p>
                    </div>
                    <%= f.password_field :password %>
                </div>

                <div class="form__group">
                    <%= f.label :password_confirmation, "Confirm Password" %>
                    <%= f.password_field :password_confirmation %>
                </div>

                <%= f.submit "Sign Up", class: "btn btn--important btn--full-width" %>

                <p class="signup__prompt">Already have an account? <%= link_to "Login", login_path %></p>
            <% end %>
        </div>
    </div>
</div>